
{% block test %}

<script>
	console.log("--- test block ---")
</script>

<div class="card">
    <form class="flex-vert">

        <!-- email -->
        <label for="person">
            Person to search for:
            <div><input id="person-input" type="text" name="person"></div>
        </label>

        <!-- ˅ -->
        <div class="flex-hor">
            <label for="text">
                Text
                <input type="checkbox" value="text" name="type" />
            </label>
    
            <label for="json">
                JSON
                <input type="checkbox" value="json" name="type" />
            </label>
        </div>        

        <button id="btn-go">
        <i class="fas fa-thumbs-up"></i>
        GO</button>

    </form>
</div>
<br>



{% endblock test %}